@import "../../styles.scss";

.login-page-wrapper {
  @include initBackground("../../assets/images/backgrounds/login-bg.jpg");

  .form-container {
    @include initContainer($width: fit-content, $flex: true);

    text-align: center;
    margin: auto;

    & div {
      margin-bottom: 20px;
    }

    & :not(button, input) {
      color: var(--white);
    }

    .header-container {
      margin-bottom: 50px;

      .main-header {
        font-family: "SF Distant Galaxy AltOutline", sans-serif;
        font-size: 70px;

        @media screen and (max-width: $breakpoint-mobile) {
          font-size: 40px;
        }
      }

      .sub-header {
        font-family: "SF Distant Galaxy Alternate", sans-serif;
        font-size: 30px;
        margin-bottom: 15px;
      }
    }

    .form-group {
      display: flex;
      flex-direction: column;

      & label {
        @include initText($size: 14px);
      }

      & span {
        @include initText($color: var(--red));
      }

      & input {
        @include initText($color: var(--black), $weight: 400);
        padding: 10px;
        border-radius: 5px;
        margin: 5px 0 10px;
      }
    }

    & button.yellow-button {
      width: 50%;
    }
  }
}