@import url("https://fonts.cdnfonts.com/css/sf-distant-galaxy-altoutline");

// Mixins
$font-poppins: 'Poppins', sans-serif;

@mixin initBackground($url_path) {
  background-image: url($url_path);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin initContainer($width: 100%, $flex: false, $flexAlign: false) {
  width: $width;
  min-height: 650px;
  height: 100vh;

  @if $flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @if $flexAlign {
    align-items: center;
  }
}

@mixin initText(
  $color: var(--white),
  $size: 16px,
  $weight: 700,
  $family: $font-poppins
) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
  font-family: $family;
}

// Default configuration
:root {
  --black: #000000;
  --dark-gray: #333333;
  --light-gray: #8a8a8a;
  --white: #ffffff;
  --yellow: #f7b500;
  --red: #ff3232;
  --blue: #00d2ff;
  --green: #2ecc71;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  min-width: 320px;

  body {
    width: 100%;
    height: 100vh;
  }
}

// Commonly Used Html Elements
button.yellow-button,
button.dark-button {
  padding: 10px;
  border-radius: 5px;
  border: 3px solid var(--yellow);
  width: fit-content;
  cursor: pointer;
}

.yellow-button {
  background-color: var(--yellow);
  @include initText($color: var(--black));
}

.dark-button {
  background-color: var(--dark-gray);
  @include initText();
}